.app-bg-container {
    background-image: linear-gradient(to top, #9796f0, #fbc7d4);
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #ffffff;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    border-radius: 10px;
    width: 60vw;
    margin-top: 25px;
  }
  .app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .app-content-container {
    display: flex;
    flex-direction: column;
  }
  .main-heading {
    color: #171f46;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto';
    margin-bottom: 20px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Roboto';
    margin-bottom: 8px;
  }
  .input {
    border: 1px solid #b5b7c4;
    padding: 5px;
    padding-left: 15px;
    font-size: 15px;
    color: #171f46;
    font-weight: 500;
    font-family: 'Roboto';
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
  }
  .add-button {
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    background-color: #8b5cf6;
    color: #ffffff;
    border: none;
    width: 60px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    font-family: 'Roboto';
  }
  .appointment-image {
    height: 300px;
    width: 400px;

  }
  .line {
    border: 1px solid #dee0e3;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .btm-app-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .app-heading {
    color: #171f46;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto';
  }
  .starred-btn {
    background-color: #ffffff;
    border: 1px solid #9897f0;
    border-radius: 8px;
    padding: 5px;
    color: #9897f0;
    font-size: 16px;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Roboto';
  }
  .star-bg {
    background-color: #9897f0;
    border: none;
    color: #ffffff;
  }
  .app-list-container {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }